.home {
  display: flex;
  height: 100vh;
  overflow-x: scroll;
}
.dashboard {
  display: flex;
  flex: 1;
  //   height: calc(100vh - 15vh);
  margin-top: 20vh;
  background-color: whitesmoke;
}
.research {
  display: flex;
  flex: 1;
  //   background-color: blue;
}

.sheImage {
  margin-top: 20vh;
  position: relative;
  object-fit: fill;
  // bottom: 80px;
  height: 70vh;
  width: 100%;
}
.card_desc {
  display: flex;
  flex: 1;
}
.card {
  display: flex;
  flex: 1;
}
